body{
    background-image: url('img/font.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    min-height: 80vh;
    
}

h1{
    color: #7a7979;
}

h6{
    color: #7a7979;
}

label{
    color: #7a7979;
}

.wrapper {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

}

#lien1:hover{
    color: orange;
}

footer p{
    
    font-size: 12px;
}

.d-none {
    display: none !important;
}