<!doctype html>
<html lang="fr"
xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{layouts/main-layout}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
  </head>
  <body>
	  
	    <main layout:fragment="content">
            <div class="text-center mt-5 mb-5">
                <h1>Bienvenue sur Deco CN</h1>
            </div>
            <div class="text-center">
                <p>le site est en cours de construction</p>
            </div>
            <div class="text-center col-8 offset-2">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dignissimos error nesciunt officia maxime in magnam nisi quam dolorum, culpa quasi natus reprehenderit exercitationem officiis cumque itaque. Aspernatur, similique explicabo.
              Officia sunt expedita eum vero laudantium possimus minima magni neque explicabo? Dolores fuga soluta deserunt quam quos, assumenda ducimus blanditiis ratione exercitationem sint. Culpa fugit temporibus esse beatae quidem inventore.
              Architecto, cum facilis? Non molestiae culpa rem natus nihil voluptatibus quam veritatis dolorem minus, exercitationem suscipit saepe tempora, eligendi explicabo dignissimos aliquam accusamus praesentium necessitatibus quo corrupti sapiente soluta error?
              Quisquam harum vel asperiores nam ut exercitationem dolores repellat facilis, officia mollitia nostrum pariatur non natus praesentium doloremque laborum culpa autem, ratione vitae cum, quasi magnam ab odit. Eum, perspiciatis.
              Impedit saepe laborum odio. Alias fugiat eius porro libero! Dolorem quam repellendus sed autem enim consequuntur, eum eius nesciunt assumenda cupiditate praesentium, laborum ratione libero dolorum pariatur eos aut doloremque.
              Earum asperiores porro laudantium quos praesentium dolore similique quibusdam iusto ipsa deserunt dicta veniam expedita molestiae deleniti fugit hic ab optio rem autem cum possimus, soluta officiis. At, repellendus vitae!
              Iste aut pariatur soluta aliquid reiciendis nihil, illo quos libero nulla maxime corporis provident ullam porro dignissimos eaque, fuga accusamus assumenda, cupiditate totam distinctio neque. Dolorem accusantium totam placeat autem.
              Magni alias ratione placeat aperiam facilis repellendus, voluptatem laborum nulla accusamus ut similique, odio excepturi nostrum quidem rem facere? Eveniet quis illo nam assumenda, sit nihil obcaecati eos repudiandae. Praesentium.
              Doloribus harum facere autem perspiciatis sapiente voluptates maxime laborum atque eum cupiditate. Dolorum iusto, porro nemo veritatis quibusdam quod tempora? Vel est enim officiis quis accusantium? Doloribus, maiores ut. Ducimus?
              Nesciunt ut blanditiis dolorum ea. Odit, recusandae ea enim, expedita consequatur facilis sed illo dolor non laborum praesentium, pariatur officiis nulla qui tempora reprehenderit ut! Esse eos asperiores nobis aspernatur.</p>
            </div>
            <div class="text-center">
              <button id="lien1" type="button" class="btn btn-secondary " ><a class="nav-link" th:href="@{/accueil}">Entrez</a></button>
            </div>
        </main>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>